<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>

    <form action="" method="POST" id="form_cadastro">

        <input type="text" name="nome" id="nome" placeholder="Nome completo" required>
        <input type="text" name="idade" id="idade" placeholder="Idade" required>
        <input type="email" name="email" id="email" placeholder="E-mail" required>
        <input type="password" name="senha" id="senha" placeholder="Crie sua senha" required>

        <input type="submit" name="btn_cadastro" id="btn_cadastro" value="Cadastrar">

    </form>
    
</body>
</html>